$bg-base: var(--grey012);
$bg-elevated: var(--grey016);
$contentbg-base: var(--grey020);
$content-high: var(--grey090);
$content-medium: var(--grey070);
$content-active: var(--grey090);
$content-inactive: var(--grey040);
$primary: var(--blue055);
$secondary: var(--orange055);
$negative: var(--red055);
$positive: var(--green045);
$outline: var(--grey060-opacity02);
$resize-handler: var(--grey060-opacity02);
$overlay-hover: var(--grey060-opacity01);
$border-hover: var(--blue055);
$content-hover: var(--grey090);
$text-disabled: var(--grey040);
