//$변수명: {font-styles} {font-weight} {font-size}/{line-height} {font-family}

$header-title: normal 600 var(--font-size-4) "Inter";
$iti-title: normal 600 var(--font-size-4) "Inter";
$button-small: normal 500 var(--font-size-3)/13px "Inter";
