@import 'styles/libraries/_resizable';
:root {
  --black: #000;
  --grey010: #181a1b;
  --grey012: #1d1f20;
  --grey016: #27292b;
  --grey020: #303336;
  --grey030: #494d50;
  --grey040: #61666b;
  --grey050: #798086;
  --grey060: #94999e;
  --grey070: #afb2b6;
  --grey080: #c9cccf;
  --grey090: #e4e5e7;
  --white: #fff;
  --blue016: #1f2933;
  --blue055: #258cf4;
  --orange055: #f47f25;
  --red055: #d74247;
  --green045: #34b273;
  --blue055-opacity01: rgba(37, 140, 244, 0.1);
  --grey060-opacity01: rgba(148, 153, 158, 0.1);
  --grey060-opacity02: rgba(148, 153, 158, 0.2);
  --red055-opacity01: rgba(215, 66, 71, 0.1);
  --green045-opacity01: rgba(52, 178, 115, 0.1);

  --button-filter: brightness(120%);

  // old
  --gray200: #202122;
  --gray300: #353739;
  --gray400: #4f4f4f;
  --gray500: #7a7a7b;
  --gray600: #d3d3d3;

  --font-size-1: 0.9rem;
  --font-size-2: 1rem;
  --font-size-3: 1.1rem;
  --font-size-4: 1.2rem;
  --font-size-5: 1.4rem;
  --font-size-6: 1.6rem;
  --font-size-7: 1.8rem;
  --font-size-8: 2.4rem;
  --font-size-9: 3.6rem;
  --font-size-10: 4.8rem;
  --font-size-11: 6.4rem;
  --font-size-12: 7.2rem;
}

*,
*::before,
*::after {
  font-family: 'Inter', 'Noto Sans KR', Arial, sans-serif;
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body,
#__next {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #202122;
}

main {
  width: 100%;
  height: 100%;
}

.canvas {
  outline: 0;
  border: 0;
}

div[tabindex='-1']:focus {
  outline: 0;
}

*:not(input textarea) {
  user-select: auto;
}

#portal_modal {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 9999;
  border: 1px solid red;
}
